

h1{
    margin-top: 60px;
    margin-bottom: 0px;
    padding-top: 8px;
    text-align: center;
    color: white;
    background-color: grey;
    height: 50px;
    font-family: sans-serif

}

body{
    margin:0;
    padding:0;
    background: rgb(213, 69, 69);
    font-family: sans-serif;
}

nav{
    width: 100%;
    height: 60px;  /*Why is the height not changing?*/
    background: rgb(242, 239, 239);
    overflow: auto;
    position: fixed; /*position moving with screen*/
    top: 0px; /*makes sure the navbar is touching top of screen*/
    margin-bottom: 0;
}

ul{
    padding: 0;
    margin: 0 0 0 100px;
    list-style: none;  /*not doing anything  */
}

li{
     display: inline-block;  
}

.logo img{
    position: fixed;  
    top: 0px;  /*makes sure the img is touching top of screen*/
    margin-left: 0px;
    z-index: 1;  /*bring image in front of navbar*/
    
}

nav a{
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 500;
    color: #161313;
    text-align: center;
}

nav a:hover{
    background-color: rgb(213, 69, 69);
}



.aboutDIV{
    display: inline-block; 
    width: 33%; 
    position: relative; 
    top: -289px;
}

.secLI{
    margin-bottom: 40px;
    display: block;  /*makes a vertical list*/
    background-color: white;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    font-size: large;
    box-shadow: 20px 20px 20px 0 black;
}


.aboutDIV2{
    /* border: 1px solid blue; */
    display: inline-block; 
    width: 30%; 
    position: relative; 
    top: 0px;
    z-index: 1;
}

.secLI2{
    position: relative;
    margin-top: 40px;
    display: block;  /*makes a vertical list*/
    background-color: white;
    height: 50px;
    width: 550px;
    text-align: center;
    padding: 9px;
    font-size: large;
    box-shadow: 20px 20px 20px 0 black;

}

.aboutDIV3{
    display: inline-block; 
    /* border: 1px solid blue;  */
    width: 33%; 
    position: relative; 
    top: -185px;
}

.contactBox{
    box-shadow: 20px 20px 20px 0 black;  /* fix this */
    left: 500px;
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
   top:50%; 
   /* left: 50%; */
   transform: translate(-50%, -50%); 
   position: absolute;
}

form{
    margin: 35px;
}

.inputField{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-right: 10px;
    border: 1px solid rgb(213, 69, 69);
    font-family: sans-serif;
}

.textArea{
    height: 150px;
    padding-top: 10px;
}

.button{
    border-radius: 10px;  /*MAKES THE OBJECT A CIRCLE SHAPE*/
    background-color:  rgb(213, 69, 69);
    margin-top: 18px;
    padding: 10px;
}


.footerContent{
    background-color: grey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5%;
    text-align: left;

}



.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }

  /* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram{
    background: purple;
    color:white;
  }
  
  .fa-pinterest-p{
    background: rgb(154, 43, 43);
    color: white;
  }